<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @conference_status.name %>
</p>

<%= link_to 'Edit', edit_conference_status_path(@conference_status) %> |
<%= link_to 'Back', conference_statuses_path %>
