<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @enrollment_status.name %>
</p>

<%= link_to 'Edit', edit_enrollment_status_path(@enrollment_status) %> |
<%= link_to 'Back', enrollment_statuses_path %>
