<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assignment_status.name %>
</p>

<%= link_to 'Edit', edit_assignment_status_path(@assignment_status) %> |
<%= link_to 'Back', assignment_statuses_path %>
